@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Kanit:wght@700&display=swap');

:root {
  /* PALETTE */
  --background-color: #ebf2e3;
  --primary-color: #273520;
  --secondary-color: #4f7344;
  --accent-color: #fefceb;

  /* FONTS */
  --heading-font: 'Kanit', sans-serif;
  --text-font: 'Bitter', serif;
}

h1,
h2,
h3,
h4 {
  color: var(--accent-color);
  font-family: var(--heading-font);
}

header {
  background: linear-gradient(to left, #344d28, #213819);
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
}

.headingContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.logoContainer {
  align-items: center;
  display: flex;
}

.logoContainer img {
  width: 40px;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.5rem;
}

.headings h1 {
  font-size: 1.5rem;
  margin: 0;
}

.headings h2 {
  font-size: 1.2rem;
  margin: 0;
}

.menuContainer {
  align-items: center;
  display: flex;
}

#primaryNav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 2em;
  position: fixed;
  right: 0;
}

#primaryNav li {
  margin: 1em 0.5em;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

#primaryNav li a:active {
  border-bottom: 5px double;
}

.social {
  align-items: center;
  display: flex;
  margin: 0 1em;
}

.social img {
  width: 35px;
}

.social a:hover {
  border-bottom: none;
}

#banner {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 4% 75% 6% 75%/75% 4% 72% 5%;
  box-shadow: 3px 3px var(--primary-color), -1em 0 0.4em olive;
  margin: 0.5em;
  padding: 1em;
  text-align: center;
  transform: rotate(-1deg);
}

#bannerContainer {
  align-self: center;
}

#currentDate {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  margin-top: 1em;
  padding: 0.8em;
}

#primaryNav {
  display: none;
}

#primaryNav.open {
  display: block;
}

#hamburgerBtn {
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 1.5rem;
  padding: 0.5em;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

body {
  font-family: var(--text-font);
  position: relative;
}

p,
li {
  color: var(--accent-color);
  font-family: var(--text-font);
  line-height: 1.4;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 5px double;
}

main {
  background-color: var(--background-color);
  padding: 0.5em;
}

.home div {
  background-color: var(--primary-color);
  margin: 1em;
}

img {
  width: 100%;
}

button {
  padding: 10px 15px;
  width: 100%;
}

.spotlightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}

.spotlightContainer div {
  background-color: var(--secondary-color);
}

.news,
.join,
.event,
.weather,
.spotlight {
  padding: 1em;
}

.hero {
  position: relative;
}

.hero h2 {
  bottom: 0;
  left: 20px;
  position: absolute;
}

.news span {
  color: #c9d2be;
  font-size: small;
  font-weight: 100;
}

.spotlightContainer div,
.join div {
  margin: 1em;
  padding: 1em;
}

.spotlightImg {
  width: 100%;
}

.event div {
  border: 1px solid white;
  margin: 1em 0.5em;
  padding: 10px;
}

#lastVisit {
  padding: 0.2em;
}

.lastVisitContainer {
  padding: 0.2em;
}

.lastVisitContainer h3 {
  color: var(--accent-color);
}

/* DISCOVER */
.discover,
.joinContainer,
.thankYouContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.discover div {
  margin: 0 auto;
}

.discoverContainer section {
  background-color: var(--primary-color);
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em;
}

.discover h1,
.stats h2,
.stats h3,
.stats p,
.joinContainer h1,
.membership h2,
.membership h3,
.membership p {
  color: var(--primary-color);
}

.stats,
.membership {
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0.3em;
  text-align: left;
}

picture {
  display: block;
  margin-top: 3rem;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.joinContainer {
  display: flex;
  justify-content: center;
}

.joinContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#joinUs {
  align-self: center;
  background-color: var(--primary-color);
  padding: 2em;
  text-align: left;
}
input,
select,
textArea {
  background-color: var(--accent-color);
  border-radius: 6px;
  border: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: 18px;
  padding: 10px 20px;
  width: 100%;
}

label,
small {
  color: var(--accent-color);
}

.submit {
  background-color: var(--secondary-color);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* THANK YOU  */
.thankYouContainer {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50vh;
}

.thankYou h1,
.thankYou p {
  color: var(--primary-color);
}

/* FOOTER */
footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 0.5em;
  text-align: center;
}

.footerContent1Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerContent {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footerContent div {
  display: flex;
  flex-direction: column;
}

.footerContent h3 {
  text-align: center;
}

.footerContent p {
  margin: 0;
  text-align: center;
}

.footerContent img {
  width: 100px;
}

.footerContent2Container {
  border-top: 1px solid var(--secondary-color);
  margin-top: 1em;
}
