@media only screen and (min-width: 64rem) {
  .logoContainer img {
    width: 80px;
  }

  .headings h1 {
    font-size: 2.2rem;
  }

  .headings h2 {
    font-size: 1.8rem;
  }

  .menuContainer {
    flex-flow: row-reverse;
    justify-content: space-around;
  }

  nav button {
    display: none;
  }

  #banner {
    font-size: larger;
    padding: 1em 2em;
  }

  #primaryNav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: inherit;
  }

  #primaryNav li a {
    margin: 0 1em;
  }

  main {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .hero {
    grid-area: 1 / 2 / 2 / 2;
  }

  .hero h2 {
    font-size: 4rem;
  }

  .event {
    grid-column: 1;
  }

  .news {
    grid-area: 2 / 1 / 2 / 3;
  }

  .spotlightContainer {
    grid-area: 1 / start-line / last-line / 3;
    flex-direction: column;
  }

  .join {
    grid-area: 3 / 1 / last-line/ 1;
  }

  #joinUs {
    width: 40%;
  }

  .joinContainer div {
    flex-direction: row;
  }

  .membership {
    width: 50%;
  }

  .footerContent1Container {
    margin: 0 2em;
  }
}
