@media only screen and (min-width: 37.5rem) {
  .logoContainer img {
    width: 60px;
  }

  .headings h1 {
    font-size: 2rem;
  }

  .headings h2 {
    font-size: 1.5rem;
  }

  #primaryNav {
    top: auto;
    right: 0;
  }

  .social {
    margin: 0 3em;
  }

  .social a {
    padding: 0 0.3em;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .hero {
    grid-column: 1 / span 3;
  }

  .hero h2 {
    font-size: 3rem;
  }

  .event {
    grid-column: 1 / span 2;
  }

  .news {
    grid-area: 2 / 1 / 2 / span 3;
  }

  .spotlightContainer {
    flex-direction: row;
    grid-area: 3 / 1 / 3 / span 3;
  }

  .join {
    grid-area: 4 / 1 / 4 / span 3;
  }

  /* DISCOVER */
  .discoverContainer {
    width: 50%;
  }

  .discoverContainer section:hover {
    box-shadow: 0 0 50px #333;
  }

  .stats {
    padding: 2em;
    width: 60%;
  }

  .footerContent1Container {
    flex-direction: row;
  }

  .footerContent {
    flex-direction: row;
  }

  .footerContent h3 {
    text-align: left;
  }

  .footerContent p {
    text-align: left;
  }

  .footerContent2Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footerContent2Container p {
    border-right: 2px solid var(--secondary-color);
    padding: 0 1em;
  }

  #date {
    border: none;
  }
}
