@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@700&family=EB+Garamond&display=swap");

:root {
  /* PALETTE */
  --background-color: #217c6d;
  --primary-color: #e8f1f0;

  /* FONTS */
  --heading-font: "Aref Ruqaa Ink", serif;
  --text-font: "EB Garamond", serif;
}

header {
  background-image: linear-gradient(to right, #00b09b, #3b5249);
  padding: 0.2em 1em;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: var(--heading-font);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-family: var(--text-font);
  font-size: 1.2em;
}

h3 {
  background-color: var(--background-color);
  border-radius: 8px 8px 0 0;
  margin-top: 0;
  padding: 0.5em;
}

p {
  margin-top: 0;
}

img {
  padding: 1em 0;
  width: 100%;
}

body {
  font-family: var(--text-font);
  line-height: 1.5;
}

main {
  display: grid;
  margin-top: 1em;
  row-gap: 2em;
}

section {
  background-color: var(--primary-color);
  border-radius: 8px 8px 0 0;
  display: grid;
  margin: 1em;
}

section div {
  padding: 0 1em;
}

footer {
  background-color: var(--background-color);
  color: #fff;
  padding: 1em;
  text-align: center;
}
