@media only screen and (min-width: 600px) {
  header div {
    flex-direction: row;
  }

  h1 {
    margin-left: 2em;
  }

  nav ul {
    flex-direction: row;
  }

  img {
    width: 250px;
  }

  body {
    max-width: 960px;
    margin: 0 auto;
  }
}
