@media only screen and (min-width: 32.5em) {
  header {
    border-radius: 4% 75% 6% 75%/75% 4% 72% 5%;
    margin: 1em;
    transform: rotate(-1deg);
  }

  h2 {
    border-bottom: 7px double;
    padding: 0.6em;
  }

  body {
    font-size: 1rem;
  }

  footer {
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    font-size: 0.8rem;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
  }
}
