@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import "variables.css";

header {
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2em;
  padding: 2em;
}

h1,
h2 {
  color: var(--text-color);
  font-family: var(--heading-font);
}

h2 {
  border-bottom: 5px double;
  color: var(--primary-color);
  padding: 1em;
}

body {
  background-color: var(--background-color);
  display: grid;
  font-family: var(--heading-font);
  font-size: 0.9rem;
  grid-template-columns: auto 1fr;
  letter-spacing: 0.1em;
  margin: 0 auto;
  max-width: 600px;
}

li {
  background: url("../images/bug.png") no-repeat left center;
  background-size: 20px;
  list-style: none;
  padding: 7px 0 7px 25px;
}

a {
  box-shadow: 0px 2px 0px var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  box-shadow: 0px 2px 0px var(--primary-color);
  color: var(--primary-color);
}

img {
  box-shadow: rgba(100, 111, 75) 0px 0px 0px 3px;
}

#date {
  color: var(--accent-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 0.6rem;
  padding: 0.5em;
  text-align: center;
}
